
.env


__pycache__/
game-handlers/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


venv/
ENV/
env/


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
Thumbs.db

games/.DS_Store


leaderboard_data.json

managed_bots.json

mau_mau_bot/

group_settings.json